[submodule "js/wire"]
	path = js/wire
	url = git://github.com/cujojs/wire.git
[submodule "js/curl"]
	path = js/curl
	url = git://github.com/cujojs/curl.git
[submodule "js/requirejs"]
	path = js/requirejs
	url = https://github.com/jrburke/requirejs.git
